<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .cl{
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
	<center> <h2><i>Details</i></h2></center>
    <section id="s1">
        <div class="container">
       
            <table class="table table-bordered">
                <thead>
					<tr class="cl">
					    <th>Id</th>
						<th>Student_Id</th>
					    <th>Name</th>
						<th>Photo</th>
					</tr>
                </thead>
				<tbody>
				        <tr>
							        <td th:text="${student.id}"></td>
							        <td th:text="${student.studentId}"></td>
							        <td th:text="${student.name}"></td>
									<td>
									 <img th:src="@{'/uploads/' + ${student.photo}}" alt="Student Photo" width="90">
									</td>
							     
					
				        </tr>
				    </tbody>
				

            </table>
			<a href="/"> <-Back</a>

        </div>


    </section>
    
</body>
</html>